<span class="speaker"><%- include('_components/i-line',
  { info: {
    text: '𐌿𐍃𐍃𐌹𐌲𐌲𐍅𐌰𐌽𐌳𐍃',
    translations: [
["el", "Αναγνώστης"],
["en", "Reader"],
    ],
    notes:
`ἀναγινώσκεις = ussiggwis Luke 10:26, ἀνέγνωτε= 𐌿𐍃𐍃𐌿𐌲𐌲𐍅𐌿𐌸 Mark 2:25, Mark 12:10`
  }}) %>:
</span>