<span class="speaker"><%- include('_components/i-line',
  { info: { id,
    text: '𐌲𐌿𐌳𐌾𐌰',
    translations: [
["el", "O Ἱερεύς"],
["en", "Priest"],
    ],
    notes: '𐌲𐌿𐌳𐌾𐌰 Luke 5:14'
  }}) %>:
</span>