<span class="notice">
<%- include('_components/i-line',
  { info: {
    text: '(𐌸𐍂𐌹𐌼 𐍃𐌹𐌽𐌸𐌰𐌼)',
    translations: [
["el", "(εκ τρίτου)"],
["en", "(Thrice)"],
    ],
    notes:
`Seems to always be in the dative`
  }}) %>
</span>