:root {
  color-scheme: dark;
  --bg-color: #28282b;
  --box-color: #323236;
  --i-line-hover-color: #479e95;
  --i-line-selected-color: #008477;
  --extra-inline-color: rgb(255, 132, 132);
  --intro-color: #bcf9b1;
  --text-color: #f0f0f0;
  --link-color: #789cff;
  --button-color: #686868;
  --button-color-hover: #808080;
  --notice-color: rgb(255, 193, 193);
  --annotation-color: #979797;
}
:root[data-color-scheme="light"] {
  color-scheme: light;
  --bg-color: #ffffff;
  --box-color: #dadada;
  --i-line-hover-color: #ceffe3;
  --i-line-selected-color: #aaffcf;
  --extra-inline-color: rgb(255, 0, 0);
  --intro-color: rgb(0, 141, 24);
  --text-color: #28282b;
  --link-color: #6b87d4;
  --button-color: #dddddd;
  --button-color-hover: #c4c4c4;
  --notice-color: rgb(182, 0, 0);
  --annotation-color: #999999;
}

@font-face {
  font-family: 'Noto Sans Gothic';
  src: url('../fonts/NotoSansGothic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@counter-style gothic {
  system: additive;
  additive-symbols:
    900 𐍊, 800 𐍉, 700 𐍈, 600 𐍇, 500 𐍆, 400 𐍅, 300 𐍄, 200 𐍃, 100 𐍂,
     90 𐍁,  80 𐍀,  70 𐌿,  60 𐌾,  50 𐌽,  40 𐌼,  30 𐌻,  20 𐌺,  10 𐌹,
      9 𐌸,   8 𐌷,   7 𐌶,   6 𐌵,   5 𐌴,   4 𐌳,   3 𐌲,   2 𐌱,   1 𐌰;
  range: 1 999;
  prefix: "·";
  suffix: "· ";
}

body
{
  counter-reset: verse;
}

.verse
{
  position: relative;
  margin-left: 30px;
}

.verse::before
{
  counter-increment: verse;
  content: "·" counter(verse, gothic) "·";

  font-family: 'Noto Sans Gothic';
  font-size: 12px;
  color: var(--extra-inline-color);
  text-indent: 0;

  position: absolute;
  top: 2px;
  left: -30px;
  width: 30px;
  font-style: normal;
  text-align: center;
}

.psalm
{
  /* As the first verse number is usually skipped, I've defaulted
  to start with verse number 2. This can be changed by setting
  `style='--init-verse: <N>'` on the element with the psalm class. */
  counter-set: verse calc(var(--init-verse, 2) - 1)
}

@supports (initial-letter: 2)
{
  .psalm
  {
    text-indent: 0;
  }

  .psalm::first-letter
  {
    initial-letter: 2;
    margin-right: 4px;
  }
}



*:lang(got),
*:not(:lang(got)),
#article-container select,
#article-container input,
#article-container textarea,
#article-container button
{
  font-family: 'Noto Sans Gothic';
  line-height: normal;
}


#article-container .icon
{
  font-family: sans;
  line-height: normal;
}

body
{
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.nowrap
{
  white-space: nowrap;
}

/* Menu & Options */

.options button,
.options a,
.options select,
.menu button,
.menu a,
.menu select
{
  background-color: var(--button-color);
  color: var(--text-color);

  text-decoration: none;
  border: 0;
  padding: 0;

  height: 30px;
  line-height: 30px;
}

.options button,
.options a,
.menu button,
.menu a
{
  text-align: center;
}

.input-text-single
{
  width: 10px;
}

@media (pointer:coarse)
{
  .options button,
  .options a,
  .options select,
  .menu button,
  .menu a,
  .menu select
  {
    height: 45px;
    line-height: 45px;
  }

  .options input[type='checkbox'],
  .menu input[type='checkbox']
  {
    height: 30px;
    aspect-ratio: 1/1;
  }
}

.options button:hover,
.options a:hover,
.options select:hover,
.menu button:hover,
.menu a:hover,
.menu select:hover
{
  background-color: var(--button-color-hover);
}


.menu button,
.menu a,
.menu select
{
  font-size: 18px;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.menu > div
{
  display: flex;
  gap: 5px;
}

.menu button svg,
.menu a svg
{
  width: 20px;
  height: 20px;
}


.options button,
.options a,
.options select,
.options input
{
  padding: 3px 7px;
}

.options
{
  margin: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.options .row
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.options .group
{
  display: flex;
  flex-wrap: wrap;
  gap: 5px
}

/* Input */

.text-container textarea
{
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}

/* Dark/Light Mode Button */

.light-mode-icon,
.dark-mode-icon
{
  display: none;
}

:root[data-color-scheme="light"] .dark-mode-icon,
:root[data-color-scheme="dark"] .light-mode-icon
{
  display: block;
}

/* Text content */

article
{
  width: 800px;
  margin-left: 200px;
}

#article-inner
{
  margin: 10px;
}

article header
{
  text-align: center;
  margin-bottom: 20px;
}

article p
{
  margin: 12px 0;
  text-indent: 1em;
}

.poem p
{
  text-indent: 0;
  text-align: center;
}

.speech p
{
  position: relative;
  text-indent: 0;
}

.speaker
{
  position: absolute;
  right: 100%;
  text-align: right;
  white-space: nowrap;
  padding-right: 1em;
  color: var(--extra-inline-color);
}

a
{
  color: var(--link-color);
}


h1,h2,h3,h4,h5,.subtitle,.verse .i-line
{
  white-space: pre-wrap;
  text-wrap-style: balance;
}

h1
{
  font-size: 26px;
  line-height: 26px;
  margin: 0;
}

.subtitle
{
  font-size: 20px;
}

h2
{
  font-size: 22px;
  line-height: 22px;
  margin: 14px 0 0 0;
  text-align: center;
}

h3
{
  font-size: 20px;
  line-height: 20px;
  margin: 14px 0 0 0;
}

h4
{
  font-size: 16px;
  line-height: 20px;
  margin: 14px 0 0 0;
  font-style: italic;
}

article .intro
{
  text-align: center;
  color: var(--intro-color);
  font-style: italic;
}


ul
{
  margin: 6px 0 0 0;
  list-style-type: square;
}

.i-line
{
  cursor: pointer;
}

.i-line:hover
{
  background-color: var(--i-line-hover-color);
}

.line-selected
{
  background-color: var(--i-line-selected-color);
}

.title
{
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

.notice
{
  font-size: 14px;
  color: var(--notice-color);
}

.annotation
{
  font-size: 14px;
  text-align: right;
  text-indent: 0;
  color: var(--annotation-color);
}

/* Info Box */

#info-box
{
  display: none;
  width: 500px;
  font-family: 'Noto Sans Gothic', sans-serif;
  position: fixed;
  top: 100px;
  left: 1000px;
  bottom: 0;
}

.has-info-box #info-box
{
  display: flex;
}

#info-box p
{
  margin: 6px 0;
}

#info-box-inner
{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#info-box-inner .menu,
#info-box-content
{
  background-color: var(--box-color);
  padding: 10px;
}

#info-box-content
{
  overflow-y: auto;
}

.line-id
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

/* Screen adaptation */

@media only screen and (max-width: 1500px)
{
  #info-box
  {
    right: 0;
    width: auto;
  }
}

@media only screen and (max-width: 1200px)
{
  article
  {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1300px)
{
  .has-info-box article
  {
    margin: 0;
  }

  .has-info-box .speaker
  {
    position: static;
  }

  #info-box
  {
    width: auto;
    left: 800px;
  }
}

@media only screen and (max-width: 1100px)
{
  .has-info-box article
  {
    margin: 0 auto;
  }

  .has-info-box main
  {
    padding-bottom: 300px;
  }

  #info-box
  {
    top: auto;
    right: auto;
    left: 50%;
    bottom: 0;
    width: 800px;
    margin-left: -400px;
    height: 300px;
  }

  #info-box-content
  {
    flex-grow: 1;
  }

  .speaker
  {
    position: static;
  }
}

@media only screen and (max-width: 800px)
{
  article, #info-box
  {
    width: auto;
  }

  #info-box
  {
    left: 0;
    right: 0;
    margin: 0;
  }
}
