@font-face {
  font-family: 'Noto Sans Gothic';
  src: url('../fonts/NotoSansGothic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body
{
  margin: 0;
}

*:lang(got),
*:not(:lang(got)),
#article-container select,
#article-container input,
#article-container textarea,
#article-container button
{
  font-family: 'Noto Sans Gothic';
  line-height: normal;
}


#article-container .icon
{
  font-family: sans;
  line-height: normal;
}


/* Default style (dark) */

body,
#info-box
{
  background-color: #28282b;
  color: #f0f0f0;
}

a
{
  color: #789cff;
}

.menu button,
.menu a
{
  background-color: #686868;
  color: #f0f0f0;
}

.notice
{
  color: rgb(255, 193, 193);
}


/* Light mode */

body.light-mode,
.light-mode #info-box
{
  background-color: #ffffff;
  color: #28282b;
}

.light-mode a
{
  color: #6b87d4;
}

.light-mode .menu button,
.light-mode .menu a
{
  background-color: #dddddd;
  color: #28282b;
}

.light-mode .notice
{
  color: rgb(182, 0, 0);
}