:root[data-color-scheme="dark"] {
  color-scheme: dark;
  --bg-color: #28282b;
  --box-color: #323236;
  --i-line-hover-color: #479e95;
  --i-line-selected-color: #008477;
  --speaker-color: rgb(255, 132, 132);
  --text-color: #f0f0f0;
  --link-color: #789cff;
  --button-color: #686868;
  --notice-color: rgb(255, 193, 193);
  --annotation-color: #979797;
}
:root[data-color-scheme="light"] {
  color-scheme: light;
  --bg-color: #ffffff;
  --box-color: #dadada;
  --i-line-hover-color: #ceffe3;
  --i-line-selected-color: #aaffcf;
  --speaker-color: rgb(255, 0, 0);
  --text-color: #28282b;
  --link-color: #6b87d4;
  --button-color: #dddddd;
  --notice-color: rgb(182, 0, 0);
  --annotation-color: #999999;
}

@font-face {
  font-family: 'Noto Sans Gothic';
  src: url('../fonts/NotoSansGothic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body
{
  margin: 0;
}

*:lang(got),
*:not(:lang(got)),
#article-container select,
#article-container input,
#article-container textarea,
#article-container button
{
  font-family: 'Noto Sans Gothic';
  line-height: normal;
}


#article-container .icon
{
  font-family: sans;
  line-height: normal;
}

body,
#info-box
{
  background-color: var(--bg-color);
  color: var(--text-color);
}

a
{
  color: var(--link-color);
}

.menu button,
.menu a
{
  background-color: var(--button-color);
  color: var(--text-color);
}

.notice
{
  color: var(--notice-color);
}
