<%
let id=1
-%>
<!doctype html>
<html lang="got">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/styles/text.css" rel="stylesheet">
    <link href="assets/styles/simple-light.css" rel="stylesheet">
    <link href="assets/styles/simple-dark.css" rel="stylesheet">
    <title>𐌳𐌰𐌿𐌺𐍃𐌰𐌿𐌻𐌰𐌿𐌲𐌹𐌰 𐌻𐌴𐌹𐍄𐌹𐌻𐍃</title>
  </head>
  <body
    class="dark-mode"
    x-data="{ selectedLineInfo: null, darkMode: $persist(true) }"
    :class="{ 'dark-mode': darkMode, 'has-info-box': selectedLineInfo !== null }">
    <main>
      <div id="article-container">
        <article>
          <div id="article-inner">
            <div class="menu">
              <div>
                <a class='square' href="index.html">⌂</a>
              </div>
              <div>
                <button class='square'
                  x-text="darkMode ? '☀' : '☾'"
                  @click="darkMode = !darkMode"></button>
              </div>
            </div>
            <div id="article-content"
            @click="e => {if(e.target.tagName !== 'I-LINE') selectedLineInfo = null}">
<!--
https://el.wikipedia.org/wiki/%CE%94%CE%BF%CE%BE%CE%BF%CE%BB%CE%BF%CE%B3%CE%AF%CE%B1
-->
<header>
  <h1>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌳𐌰𐌿𐌺𐍃𐌰𐌿𐌻𐌰𐌿𐌲𐌹𐌰 𐌻𐌴𐌹𐍄𐌹𐌻𐍃',
    translations: [
["el", "Δοξολογία Μικρά"],
["en", "Lesser Doxology"],
    ],
    notes:
`*𐌳𐌰𐌿𐌺𐍃𐌰𐌿𐌻𐌰𐌿𐌲𐌹𐌰, x -> 𐌺𐍃 from 1 Timothy 1:20. always ο = 𐌰𐌿?`,
  }}) %>
  </h1>
</header>
<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍅𐌿𐌻𐌸𐌿𐍃 𐌹̈𐌽 𐌷𐌰𐌿𐌷𐌹𐍃𐍄𐌾𐌰𐌼 𐌲𐌿𐌳𐌰, 𐌾𐌰𐌷 𐌰𐌽𐌰 𐌰𐌹𐍂𐌸𐌰𐌹 𐌲𐌰𐍅𐌰𐌹𐍂𐌸𐌹 𐌹̈𐌽 𐌼𐌰𐌽𐌽𐌰𐌼 𐌲𐍉𐌳𐌹𐍃 𐍅𐌹𐌻𐌾𐌹𐌽𐍃.',
    translations: [
["el", "Δόξα ἐν ὑψίστοις Θεῷ, καὶ ἐπὶ γῆς εἰρήνη ἐν ἀνθρώποις εὐδοκία."],
["en", "Glory to God in the highest, and on earth peace, good will to men."],
    ],
    notes:
`Luke 2:14, copied from the Gothic Bible.`,
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌷𐌰𐌶𐌾𐌰𐌼 𐌸𐌿𐌺,',
    translations: [
["el", "Ὑμνοῦμέν σε,"],
["en", "We praise you,"],
    ],
    notes:
`although 𐌷𐌰𐌶𐌾𐌰𐌽 is translated from αἰνέω usually, 𐌷𐌰𐌶𐌴𐌹𐌽𐍃 is used for hymn`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌸𐌹𐌿𐌸𐌾𐌰𐌼 𐌸𐌿𐌺,',
    translations: [
["el", "εὐλογοῦμέν σε,"],
["en", "we bless you,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌹𐌽𐍅𐌴𐌹𐍄𐌰𐌼 𐌸𐌿𐌺,',
    translations: [
["el", "προσκυνοῦμέν σε,"],
["en", "we worship you,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌲𐌰𐍃𐍅𐌴𐍂𐌰𐌼 𐌸𐌿𐌺,',
    translations: [
["el", "δοξολογοῦμέν σε,"],
["en", "we glorify you,"],
    ],
    notes:
`John 12:16 doxology, give glory; 𐌿𐍃𐌷𐌰𐌿𐌷𐌾𐌰𐌽 is also interesting`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐍅𐌹𐌻𐌹𐌿𐌳𐍉𐌼 𐌸𐌿𐌺,',
    translations: [
["el", "εὐχαριστοῦμέν σοι,"],
["en", "and we thank you,"],
    ],
    notes:
`Mark 8:6 eucharist; 𐌰𐌹𐍅𐍇𐌰𐍂𐌹𐍃𐍄𐌹𐌰`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍆𐌰𐌿𐍂 𐌼𐌹𐌺𐌹𐌻𐌰𐌽𐌰 𐍅𐌿𐌻𐌸𐌿 𐌸𐌴𐌹𐌽𐌰𐌽𐌰.',
    translations: [
["el", "διὰ τὴν μεγάλην σου δόξαν."],
["en", "for your great glory."],
    ],
    notes:
`Mark 8:6 eucharist; 𐌰𐌹𐍅𐍇𐌰𐍂𐌹𐍃𐍄𐌹𐌰`,
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍆𐍂𐌰𐌿𐌾𐌰, 𐌸𐌹𐌿𐌳𐌰𐌽, 𐌷𐌹𐌼𐌹𐌽𐌰𐌺𐌿𐌽𐌳𐌰 𐌲𐌿𐌸,',
    translations: [
["el", "Κύριε Βασιλεῦ, ἐπουράνιε Θεέ,"],
["en", "Lord, King, Heavenly God,"],
    ],
    notes:
`"Adjectives in the vocative have the same ending as the nominative, and are almost always declined 'weak'."`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐍄𐍄𐌰 𐌰𐌻𐌻𐍅𐌰𐌻𐌳𐌰𐌽𐌳;',
    translations: [
["el", "Πάτερ παντοκράτορ·"],
["en", "Father Almighty;"],
    ],
    notes:
`pantokrator`,
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍆𐍂𐌰𐌿𐌾𐌰 𐌰𐌹𐌽𐌰𐌱𐌰𐌿𐍂 𐍃𐌿𐌽𐌰𐌿,',
    translations: [
["el", "Κύριε Υἱὲ μονογενές,"],
["en", "only-begotten Son,"],
    ],
    notes:
`using the Skeireins' "only-begotten" as it's more descriptive and is the same as the german eingeboren, and as it was written after the bible translation, it's probably the commonly used version`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌹̈𐌴𐍃𐌿 𐍇𐍂𐌹𐍃𐍄𐌰𐌿, 𐌾𐌰𐌷 𐌰𐌷𐌼𐌰 𐍅𐌴𐌹𐌷𐌰.',
    translations: [
["el", "Ἰησοῦ Χριστέ, καὶ Ἅγιον Πνεῦμα."],
["en", "Lord Jesus Christ and Holy Spirit."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍆𐍂𐌰𐌿𐌾𐌰 𐌲𐌿𐌸,',
    translations: [
["el", "Κύριε ὁ Θεός,"],
["en", "Lord God,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌻𐌰𐌼𐌱 𐌲𐌿𐌳𐌹𐍃,',
    translations: [
["el", "ὁ Ἀμνὸς τοῦ Θεοῦ,"],
["en", "the Lamb of God,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍃𐌿𐌽𐌿𐍃 𐌰𐍄𐍄𐌹𐌽𐍃,',
    translations: [
["el", "ὁ Υἱὸς τοῦ Πατρός,"],
["en", "the Son of the Father,"],
    ],
  }}) %>
<br/>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐍆𐌽𐌹𐌼𐌰𐌽𐌳𐌰 𐍆𐍂𐌰𐍅𐌰𐌿𐍂𐌷𐍄 𐌼𐌰𐌽𐌰𐍃𐌴𐌳𐌰𐌹𐍃,',
    translations: [
["el", "ὁ αἴρων τὴν ἁμαρτίαν τοῦ κόσμου,"],
["en", "who take away the sin of the world,"],
    ],
    notes:
`αἴρων has lift and remove as meaning, 𐌿𐍃𐌷𐌰𐍆𐌾𐌰𐌽 has a sense of being lifted up by god, taken up from the ground Mark 11:23 but in 2 Cor 10:5 it also can mean exalt, so not using that; afnima in Romans 11:27; world Mark 14:9`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐍂𐌼𐌰𐌹 𐌿𐌽𐍃𐌹𐍃,',
    translations: [
["el", "ἐλέησον ἡμᾶς,"],
["en", "have mercy on us,"],
    ],
  }}) %>
<br/>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐍆𐌽𐌹𐌼𐌰𐌽𐌳𐌰 𐍆𐍂𐌰𐍅𐌰𐌿𐍂𐌷𐍄 𐌼𐌰𐌽𐌰𐍃𐌴𐌳𐌰𐌹𐍃.',
    translations: [
["el", "ὁ αἴρων τὰς ἁμαρτίας τοῦ κόσμου."],
["en", "you who take away the sins of the world."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐌽𐌳𐌽𐌹𐌼 𐌱𐌹𐌳𐍉𐍃 𐌿𐌽𐍃𐌰𐍂𐍉𐍃,',
    translations: [
["el", "Πρόσδεξαι τὴν δέησιν ἡμῶν,"],
["en", "Accept our supplication,"],
    ],
    notes:
`𐌰𐌽𐌳𐌽𐌹𐌼𐌰𐌽 + ACC Luke 15:2; 𐌱𐌹𐌳𐍉𐌼 Luke 2:37`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌸𐌿𐌴𐌹 𐍃𐌹𐍄𐌰𐌳𐌰 𐌰𐍆 𐍄𐌰𐌹𐌷𐍃𐍅𐍉𐌽 𐌰𐍄𐍄𐌹𐌽𐍃,',
    translations: [
["el", "ὁ καθήμενος ἐν δεξιᾷ τοῦ Πατρός,"],
["en", "you who sit at the right of the Father,"],
    ],
    notes:
`you who are seated`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌾𐌰𐌷 𐌰𐍂𐌼𐌰𐌹 𐌿𐌽𐍃𐌹𐍃.',
    translations: [
["el", "καὶ ἐλέησον ἡμᾶς."],
["en", "and have mercy on us."],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌿𐌽𐍄𐌴 𐌸𐌿 𐌹̈𐍃 𐌰𐌹𐌽𐍃 𐍅𐌴𐌹𐌷𐌰,',
    translations: [
["el", "Ὅτι σὺ εἶ μόνος Ἅγιος,"],
["en", "For you are the only Holy One,"],
    ],
    notes:
`𐌿𐌽𐍄𐌴 Matthew 5:34 Matthew 6:13. 𐌰𐌹𐌽𐍃 used as only/alone Luke 5:21 Matthew 14:23. Luke 4:34 the holy one. 𐌰𐌹𐌽𐌰𐌷𐍃?. May need a 𐍃𐌰`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌸𐌿 𐌹̈𐍃 𐌰𐌹𐌽𐍃 𐍆𐍂𐌰𐌿𐌾𐌰, 𐌹̈𐌴𐍃𐌿 𐍇𐍂𐌹𐍃𐍄𐌰𐌿,',
    translations: [
["el", "σὺ εἶ μόνος Κύριος, Ἰησοῦς Χριστός,"],
["en", "you are the only Lord, Jesus Christ,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌳𐌿 𐍅𐌿𐌻𐌸𐌰𐌿 𐌲𐌿𐌳𐌹𐍃 𐌰𐍄𐍄𐌹𐌽𐍃.',
    translations: [
["el", "εἰς δόξαν Θεοῦ Πατρός."],
["en", "to the glory of God the Father."],
    ],
    notes:
`to the glory of god Corinthians II 4:15. genitives for both god and father, Luke 3:22+ and Luke 1:32 have genitive apposition.`,
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐌼𐌴𐌽.',
    translations: [
["el", "Ἀμήν."],
["en", "Amen."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐌽𐌳𐌰𐌽𐌰𐌷𐍄𐌾𐌰 𐍈𐌰𐌼𐌼𐌴𐌷 𐍃𐌺𐌰𐌻 𐌹𐌺 𐌸𐌿𐌺 𐌸𐌹𐌿𐌸𐌾𐌰𐌽,',
    translations: [
["el", "Καθʼ ἑκάστην ἑσπέραν εὐλογήσω σε,"],
["en", "Every evening I shall bless you,"],
    ],
    notes:
`dative, every day Mark 14:49, every year Luke 2:41. adding 𐌹𐌺 for clarity that it's not the 3rd person. 𐌷𐌹𐌼𐌼𐌰 𐌳𐌰𐌲𐌰 ... 𐍃𐌺𐌰𐌻 𐌹𐌺 𐍅𐌹𐍃𐌰𐌽 Luke 19:5; seems to be the modern German word order, so adding 𐌸𐌿𐌺 before 𐌸𐌹𐌿𐌸𐌾𐌰𐌽.`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌾𐌰𐌷 𐌹𐌺 𐍃𐌺𐌰𐌻 𐌽𐌰𐌼𐍉 𐌸𐌴𐌹𐌽 𐌷𐌰𐌶𐌾𐌰𐌽 𐌰𐌹𐍅,',
    translations: [
["el", "καὶ αἰνέσω τὸ ὄνομά σου εἰς τὸν αἰῶνα,"],
["en", "and I shall praise your name forever,"],
    ],
    notes:
`ever Luke 1:55; praise = 𐌷𐌰𐌶𐌾𐌰𐌽 Luke 2:13 Luke 2:20 Luke 19:37`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌾𐌰𐌷 𐌹𐌽 𐌰𐌹𐍅𐌰 𐌰𐌹𐍅𐌹𐍃.',
    translations: [
["el", "καὶ εἰς τὸν αἰῶνα τοῦ αἰῶνος."],
["en", "and unto the ages of ages."],
    ],
    notes:
`Unsure since greek here is singular and not the usual plural`,
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍆𐍂𐌰𐌿𐌾𐌰, 𐌹̈𐍃 𐌰𐌹𐌽 𐌳𐌿𐌸𐌻𐌰𐌿𐌷𐌰𐌽 𐌿𐌽𐍃𐌹𐍃 𐍅𐌰𐌿𐍂𐌸𐌰𐌽𐍃',
    translations: [
["el", "Κύριε, καταφυγὴ ἐγενήθης ἡμῖν"],
["en", "Lord, you have become for us a refuge"],
    ],
    notes:
`*𐌳𐌿𐌸𐌻𐌰𐌿𐌷𐌰𐌽𐍃 = zuflucht. sentence probably needs reworking`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌿𐍃 𐌰𐌻𐌳𐌰𐌹 𐌹̈𐌽 𐌰𐌻𐌳.',
    translations: [
["el", "ἐν γενεᾷ καὶ γενεᾷ."],
["en", "from generation to generation."],
    ],
    notes:
`alds Luke 1:50. from house to house Luke 10:7`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌹𐌺 𐌵𐌰𐌸: 𐍆𐍂𐌰𐌿𐌾𐌰, 𐌰𐍂𐌼𐌰𐌹 𐌼𐌹𐍃;',
    translations: [
["el", "Ἐγὼ εἶπα· Κύριε, ἐλέησόν με·"],
["en", "I have said: Lord, have mercy on me,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌷𐌰𐌹𐌻𐌴𐌹 𐍃𐌰𐌹𐍅𐌰𐌻𐌰 𐌼𐌴𐌹𐌽𐌰,',
    translations: [
["el", "ἴασαι τὴν ψυχήν μου,"],
["en", "heal my soul,"],
    ],
    notes:
`heal thyself ACC Luke 4:23`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌿𐌽𐍄𐌴 𐌹𐌺𐌰 𐌸𐌿𐌺 𐍆𐍂𐌰𐍅𐌰𐌿𐍂𐌷𐍄𐌰.',
    translations: [
["el", "ὅτι ἥμαρτόν σοι."],
["en", "for I have sinned against you."],
    ],
    notes:
`sinned against heaven ACC Luke 15:21`,
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍆𐍂𐌰𐌿𐌾𐌰, 𐌳𐌿 𐌸𐌿𐍃 𐌸𐌻𐌰𐌿𐌷;',
    translations: [
["el", "Κύριε, πρὸς σὲ κατέφυγον·"],
["en", "Lord, to you I have fled;"],
    ],
    notes:
`du Matthew 27:58. same as greek, fled could be either first person singular or plural`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌻𐌰𐌹𐍃𐌴𐌹 𐌼𐌹𐍃 𐍅𐌹𐌻𐌾𐌰 𐌸𐌴𐌹𐌽𐍃 𐍄𐌰𐌿𐌾𐌰𐌽,',
    translations: [
["el", "δίδαξόν με τοῦ ποιεῖν τὸ θέλημά σου,"],
["en", "teach me to do your will,"],
    ],
    notes:
`(didache = teaching). lord's prayer. do the will John 6:38; do his will John 7:17`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌿𐌽𐍄𐌴 𐌸𐌿 𐌹̈𐍃 𐌲𐌿𐌸 𐌼𐌴𐌹𐌽𐍃.',
    translations: [
["el", "ὅτι σὺ εἶ ὁ Θεός μου."],
["en", "for you are my God."],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌿𐌽𐍄𐌴 𐍆𐍂𐌰𐌼 𐌸𐌿𐍃 𐌹̈𐍃𐍄 𐌱𐍂𐌿𐌽𐌽𐌰 𐌻𐌹𐌱𐌰𐌹𐌽𐌰𐌹𐍃;',
    translations: [
["el", "Ὅτι παρὰ σοὶ πηγὴ ζωῆς·"],
["en", "For with you is the fountain of life;"],
    ],
    notes:
`in this case para = fram Mark 10:27`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌹̈𐌽 𐌻𐌹𐌿𐌷𐌰𐌳𐌰 𐌸𐌴𐌹𐌽 𐍃𐌺𐌿𐌻𐌿𐌼 𐌻𐌹𐌿𐌷𐌰𐌸 𐍃𐌰𐌹𐍈𐌰𐌽.',
    translations: [
["el", "ἐν τῷ φωτί σου ὀψόμεθα φῶς."],
["en", "in your light we shall see light."],
    ],
    notes:
`Luke 8:16, using shall/𐍃𐌺𐌿𐌻𐌿𐌼? maybe instead just 𐍃𐌰𐌹𐍈𐌰𐌼 𐌻𐌹𐌿𐌷𐌰𐌸`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌿𐍆𐍂𐌰𐌺𐌴𐌹 𐌰𐍂𐌼𐌰𐌷𐌰𐌹𐍂𐍄𐌴𐌹𐌽 𐌸𐌴𐌹𐌽𐌰 𐌸𐌰𐌹𐌼 𐌺𐌿𐌽𐌽𐌰𐌽𐌳𐌰𐌼 𐌸𐌿𐌺.',
    translations: [
["el", "Παράτεινον τὸ ἔλεός σου τοῖς γινώσκουσί σε."],
["en", "Extend your mercy to those who know you."],
    ],
    notes:
`𐌿𐍆𐍂𐌰𐌺𐌴𐌹, searching instead for ἐκτείνω, as Παράτεινον not attested; 𐌿𐍆𐍂𐌰𐌺𐌾𐌰𐌽𐌳𐍃 + ACC Matthew 8:3 Mark 1:41 𐌿𐍆𐍂𐌰𐌺𐌴𐌹 𐌿𐍆𐍂𐌰𐌺𐌹𐌳𐌰 Mark 3:5 𐌿𐍆𐍂𐌰𐌺𐌾𐌰𐌽𐌳𐍃 Luke 5:13 𐌿𐍆𐍂𐌰𐌺𐌴𐌹 Luke 6:10.  𐌰𐍂𐌼𐌰𐌷𐌰𐌹𐍂𐍄𐌴𐌹𐌽𐍃 Luke 1:50 Luke 1:54 Luke 1:58. know Matthew 7:23. "those who" Luke 6:32. deciding to go with þairhwisan as there is a meaning of continue/preserve/bewahren found in other translations and is perhaps closer to the para- word.`,
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐍆𐍂𐌰𐌲𐌹𐍆, 𐍆𐍂𐌰𐌿𐌾𐌰,',
    translations: [
["el", "Καταξίωσον, Κύριε,"],
["en", "Grant, O Lord,"],
    ],
    notes:
`𐍂𐌰𐌷𐌽𐌴𐌹 𐍅𐌰𐌹𐍂𐌸𐌰𐌽𐍃 consider worthy + ACC Timothy I 6:1; 𐌿𐍃𐌻𐌰𐌿𐌱𐌾𐌰𐌽 to permit; grant 𐍆𐍂𐌰𐌲𐌹𐍆 Mark 10:37`,
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌴𐌹 𐌷𐌹𐌼𐌼𐌰 𐌽𐌰𐌷𐍄 𐌹𐌽𐌿𐌷 𐍆𐍂𐌰𐍅𐌰𐌿𐍂𐌷𐍄 𐌲𐌰𐍆𐌰𐍃𐍄𐌰𐌽𐌳𐌰.',
    translations: [
["el", "ἐν τῇ νυκτὶ ταύτῃ ἀναμαρτήτους φυλαχθῆναι ἡμᾶς."],
["en", "that in this night we may be kept without sin."],
    ],
    notes:
`that this night without sin we are kept. Thessalonians II 3:3. 𐌲𐌰𐍆𐌰𐍃𐍄𐌰𐌽 Luke 18:21; 𐌳𐌿 𐌲𐌰𐍆𐌰𐍃𐍄𐌰𐌽 𐌸𐌿𐌺, Luke 4:10`,
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌸𐌹𐌿𐌸𐌹𐌳𐌰 𐌸𐌿𐌺, 𐍆𐍂𐌰𐌿𐌾𐌰,',
    translations: [
["el", "Εὐλογητὸς εἶ, Κύριε,"],
["en", "Blessed are you, O Lord,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌲𐌿𐌸 𐌰𐍄𐍄𐌰𐌽𐌴 𐌿𐌽𐍃𐌰𐍂𐌰𐌹𐌶𐌴,',
    translations: [
["el", "ὁ Θεὸς τῶν Πατέρων ἡμῶν,"],
["en", "the God of our Fathers,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌾𐌰𐌷 𐌷𐌰𐌶𐌹𐌸 𐌾𐌰𐌷 𐌲𐌰𐍃𐍅𐌴𐍂𐌰𐌹𐌸 𐌽𐌰𐌼𐍉 𐌸𐌴𐌹𐌽',
    translations: [
["el", "καὶ αἰνετὸν καὶ δεδοξασμένον τὸ ὄνομά σου"],
["en", "and praised and glorified is your name"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌹̈𐌽 𐌰𐌹𐍅𐌹𐌽𐍃.',
    translations: [
["el", "εἰς τοὺς αἰῶνας."],
["en", "unto the ages."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐌼𐌴𐌽.',
    translations: [
["el", "Ἀμήν."],
["en", "Amen."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'Γένοιτο, Κύριε, τὸ ἔλεός σου ἐφʼ ἡμᾶς,',
    translations: [
["el", "Γένοιτο, Κύριε, τὸ ἔλεός σου ἐφʼ ἡμᾶς,"],
["en", "Let your mercy, Lord, come upon us,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'καθάπερ ἠλπίσαμεν ἐπὶ σέ.',
    translations: [
["el", "καθάπερ ἠλπίσαμεν ἐπὶ σέ."],
["en", "just as we have hoped in you."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'Εὐλογητὸς εἶ, Κύριε·',
    translations: [
["el", "Εὐλογητὸς εἶ, Κύριε·"],
["en", "Blessed are you, O Lord,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'δίδαξόν με τὰ δικαιώματά σου.',
    translations: [
["el", "δίδαξόν με τὰ δικαιώματά σου."],
["en", "teach me your commandments."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'Εὐλογητὸς εἶ, Δέσποτα·',
    translations: [
["el", "Εὐλογητὸς εἶ, Δέσποτα·"],
["en", "Blessed are you, O Master,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'συνέτισόν με τὰ δικαιώματά σου.',
    translations: [
["el", "συνέτισόν με τὰ δικαιώματά σου."],
["en", "make me understand your commandments."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'Εὐλογητός εἶ, Ἅγιε·',
    translations: [
["el", "Εὐλογητός εἶ, Ἅγιε·"],
["en", "Blessed are you, O Holy One,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'φώτισόν με τοῖς δικαιώμασί σου.',
    translations: [
["el", "φώτισόν με τοῖς δικαιώμασί σου."],
["en", "enlighten me with your commandments."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'Κύριε, τὸ ἔλεός σου εἰς τὸν αἰῶνα·',
    translations: [
["el", "Κύριε, τὸ ἔλεός σου εἰς τὸν αἰῶνα·"],
["en", "Lord, your mercy remains forever,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'τὰ ἔργα τῶν χειρῶν σου μὴ παρίδῃς.',
    translations: [
["el", "τὰ ἔργα τῶν χειρῶν σου μὴ παρίδῃς."],
["en", "do not turn away from the works of your hands."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'Σοὶ πρέπει αἶνος,',
    translations: [
["el", "Σοὶ πρέπει αἶνος,"],
["en", "To you belongs praise,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'σοὶ πρέπει ὕμνος,',
    translations: [
["el", "σοὶ πρέπει ὕμνος,"],
["en", "to you belongs a hymn,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: 'σοὶ δόξα πρέπει,',
    translations: [
["el", "σοὶ δόξα πρέπει,"],
["en", "to you belongs glory,"],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐍄𐍄𐌹𐌽, 𐌾𐌰𐌷 𐍃𐌿𐌽𐌰𐌿, 𐌾𐌰𐌷 𐌰𐌷𐌼𐌹𐌽 𐍅𐌴𐌹𐌷𐌰𐌼𐌼𐌰,',
    translations: [
["el", "τῷ Πατρί, καὶ τῷ Υἱῷ, καὶ τῷ Ἁγίῳ Πνεύματι,"],
["en", "to the Father and the Son and the Holy Spirit,"],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌾𐌰𐌷 𐌽𐌿 𐌾𐌰𐌷 𐌰𐌹𐍅, 𐌾𐌰𐌷 𐌹̈𐌽 𐌰𐌹𐍅𐌹𐌽𐍃 𐌰𐌹𐍅𐌴.',
    translations: [
["el", "νῦν, καὶ ἀεί, καὶ εἰς τοὺς αἰῶνας τῶν αἰώνων."],
["en", "now and ever and to the ages of ages."],
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: { id: id++,
    text: '𐌰𐌼𐌴𐌽.',
    translations: [
["el", "Ἀμήν."],
["en", "Amen."],
    ],
  }}) %>
</p>

<p lang='en' class="annotation">
The Lesser Doxology in the Gothic language,
<br/>a translation by <a href='https://2sh.me'>2sh</a>.
</p>
            </div>
          </div>
        </article>
      </div>
<%- include('_components/info-box.ejs') %>
    </main>
    <script type="module" src="scripts/alpine-init.ts"></script>
  </body>
</html>
