<%
// https://www.grimmstories.com/de/grimm_maerchen/der_arme_und_der_reiche
// https://www.grimmstories.com/en/grimm_fairy-tales/the_poor_man_and_the_rich_man
-%>
<!doctype html>
<html lang="got">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/styles/text.css" rel="stylesheet">
    <link href="assets/styles/simple-light.css" rel="stylesheet">
    <link href="assets/styles/simple-dark.css" rel="stylesheet">
    <title>𐍃𐌰 𐌿𐌽𐌻𐌴𐌳𐌰 𐌾𐌰𐌷 𐍃𐌰 𐌲𐌰𐌱𐌹𐌲𐌰</title>
  </head>
<%- include('_components/article-body-top.ejs') %>
<header>
  <h1>
<%- include('_components/i-line',
  { info: {
    text: '𐍃𐌰 𐌿𐌽𐌻𐌴𐌳𐌰 𐌾𐌰𐌷 𐍃𐌰 𐌲𐌰𐌱𐌹𐌲𐌰',
    translations: [
["de", "Der Arme und der Reiche"],
["en", "The Poor Man and the Rich Man"],
    ],
  }}) %>
  </h1>
</header>
<p>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌰𐌿𐍂 𐍆𐌰𐌹𐍂𐌽𐌾𐌰 𐌼𐌴𐌻𐌰, 𐌱𐌹𐌸𐌴 𐌻𐌹𐌿𐍆𐍃 𐍆𐍂𐌰𐌿𐌾𐌰 𐌽𐌰𐌿𐌷 𐍃𐌹𐌻𐌱𐌰 𐌰𐌽𐌰 𐌰𐌹𐍂𐌸𐌰𐌹 𐌹̈𐌽 𐌼𐌰𐌽𐌽𐌰𐌼 𐍈𐌰𐍂𐌱𐍉𐌳𐌰,',
    capitalize: true,
    translations: [
["de", "Vor alten Zeiten, als der liebe Gott noch selber auf Erden unter den Menschen wandelte,"],
["en", "In olden times, when the Lord himself still used to walk about on this earth amongst men,"]
    ],
    notes:
`𐍆𐌰𐌹𐍂𐌽𐌴𐌹𐍃 seems to mean old but also "of former times"

𐌼𐌴𐌻: my time John 7:6, "times" Galatians 4:10, "in his times" Timothy I 6:15.
Though the plural can also mean writing/scripture, it's fitting.

Jesus walked in John 7:1, John 10:23, Mark 1:16, Mark 11:27, Matthew 9:27`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌹̈𐍄𐌰 𐍅𐌰𐍂𐌸, 𐌴𐌹 𐌹̈𐍃 𐌰𐍄 𐌰𐌹𐌽𐌰𐌼𐌼𐌰 𐌰𐌽𐌳𐌰𐌽𐌰𐌷𐍄𐌾𐌰 𐌼𐍉𐌸𐌿𐍃 𐍅𐌰𐍂𐌸 𐌾𐌰𐌷 𐌹𐌽𐍃 𐌽𐌰𐌷𐍄𐍃 𐌱𐌹𐌵𐌰𐌼 𐍆𐌰𐌿𐍂𐌰 𐌳𐌿 𐍃𐌰𐌻𐌹𐌸𐍅𐍉𐌼 𐌲𐌰𐌵𐌹𐌼𐌰𐌽 𐌼𐌰𐌷𐍄𐌰.',
    translations: [
["de", "trug es sich zu, daß er eines Abends müde war und ihn die Nacht überfiel, bevor er zu einer Herberge kommen konnte."],
["en", "it once happened that he was tired and overtaken by the darkness before he could reach an inn."]
    ],
    notes:
`it came to pass = 𐍅𐌰𐍂𐌸

it came to pass, that Luke 6:12, Luke 8:1.

tired *𐌼𐍉𐌸𐌿𐍃 from PGm u-stem *mōþuz.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌽𐌿 𐍃𐍄𐍉𐌸𐌿𐌽 𐌰𐌽𐌰 𐍅𐌹𐌲𐌰 𐍆𐌰𐌿𐍂𐌰 𐌹𐌼𐌼𐌰 𐍄𐍅𐌰 𐍂𐌰𐌶𐌽𐌰 𐌼𐌹𐍃𐍃𐍉 𐍅𐌹𐌸𐍂𐌰𐍅𐌰𐌹𐍂𐌸𐌰,',
    capitalize: true,
    translations: [
["de", "Nun standen auf dem Weg vor ihm zwei Häuser einander gegenüber,"],
["en", "Now there stood on the road before him two houses facing each other;"]
    ],
    notes:
`Unsure if 𐌼𐌹𐍃𐍃𐍉 𐍅𐌹𐌸𐍂𐌰𐍅𐌰𐌹𐍂𐌸𐌰 works.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌰𐌹𐌽 𐌼𐌹𐌺𐌹𐌻 𐌾𐌰𐌷 𐍃𐌺𐌰𐌿𐌽, 𐌰𐌽𐌸𐌰𐍂 𐌻𐌹𐌴𐍄𐌹𐌻 𐌾𐌰𐌷 𐌿𐌽𐌻𐌴𐌸 𐌳𐌿 𐌰𐌽𐌳𐍃𐌰𐌹𐍈𐌰𐌽,',
    translations: [
["de", "das eine groß und schön, das andere klein und ärmlich anzusehen,"],
["en", "the one large and beautiful, the other small and poor."]
    ],
    notes:
`du saiƕan Matthew 6:1`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌾𐌰𐌷 𐌸𐌰𐍄𐌰 𐌼𐌹𐌺𐌹𐌻 𐌲𐌰𐌱𐌹𐌲𐌹𐍃, 𐌾𐌰𐌷 𐌸𐌰𐍄𐌰 𐌻𐌹𐌴𐍄𐌹𐌻 𐌿𐌽𐌻𐌴𐌳𐌹𐍃',
    translations: [
["de", "und gehörte das große einem reichen, das kleine einem armen Manne."],
["en", "The large one belonged to a rich man, and the small one to a poor man."]
    ],
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: {
    text: `𐌴𐌹 𐌸𐌰𐌷𐍄𐌰 𐍆𐍂𐌰𐌿𐌾𐌰 𐌲𐌿𐌸 "𐌸𐌰𐌽𐌰 𐌲𐌰𐌱𐌹𐌲𐌰𐌽 𐌽𐌹 𐌺𐌰𐌿𐍂𐌹𐌳𐌰, 𐍅𐌹𐌻𐌾𐌰𐌿 𐌰𐍄 𐌹̈̈𐌼𐌼𐌰 𐍃𐌰𐌻𐌾𐌰𐌽."`,
    capitalize: true,
    translations: [
["de", `Da dachte unser Herrgott 'dem Reichen werde ich nicht beschwerlich fallen: bei ihm will ich übernachten.'`],
["en", `Then the Lord thought, "I shall be no burden to the rich man, I will stay the night with him."`]
    ],
    notes:
`𐍆𐍂𐌰𐌿𐌾𐌰 𐌲𐌿𐌸 attested.

saliþwos at imma John 14:23.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐍃𐌰 𐌲𐌰𐌱𐌹𐌲𐌰, 𐌱𐌹𐌸𐌴 𐌰𐍄 𐌳𐌰𐌿𐍂 𐌹̈𐍃 𐍃𐌿𐌼𐌰𐌽𐌰 𐌷𐌰𐌿𐍃𐌹𐌳𐌰,`,
    capitalize: true,
    translations: [
["de", `Der Reiche, als er an seine Türe klopfen hörte,`],
["en", `When the rich man heard some one knocking at his door,`]
    ],
    notes:
`need a word for knock`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌿𐍃𐌻𐌰𐌿𐌺 𐌰𐌿𐌲𐌰𐌳𐌰𐌿𐍂𐍉 𐌾𐌰𐌷 𐌱𐌰𐌸 𐌸𐌰𐌽𐌰 𐍆𐍂𐌰𐌼𐌰𐌸𐌾𐌰𐌽, 𐍈𐌰 𐍃𐍉𐌺𐌾𐌰𐌹.`,
    translations: [
["de", `machte das Fenster auf und fragte den Fremdling, was er suche.`],
["en", `he opened the window and asked the stranger what he wanted.`]
    ],
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐍆𐍂𐌰𐌿𐌾𐌰 𐌰𐌽𐌳𐌷𐍉𐍆 "𐌱𐌹𐌳𐌾𐌰 𐌽𐌰𐌷𐍄 𐌳𐌿 𐍃𐌰𐌻𐌾𐌰𐌽."`,
    capitalize: true,
    translations: [
["de", `Der Herr antwortete 'ich bitte um ein Nachtlager.'`],
["en", `The Lord answered, "I only ask for a night's lodging."`]
    ],
    notes:
`𐌽𐌰𐌷𐍄 𐌾𐌰𐌷 𐌳𐌰𐌲 𐌹𐌽 𐌳𐌹𐌿𐍀𐌹𐌸𐌰𐌹 𐍅𐌰𐍃 𐌼𐌰𐍂𐌴𐌹𐌽𐍃 "a night and a day I have been in the deep" Corinthians II 11:25.`
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: {
    text: `𐍃𐌰 𐌲𐌰𐌱𐌹𐌲𐌰 𐌹𐌽𐍃𐌰𐍈 𐌳𐌿 𐌸𐌰𐌼𐌼𐌰 𐍈𐌰𐍂𐌱𐍉𐌽𐌳𐌰 𐍆𐍂𐌰𐌼 𐌷𐌰𐌿𐌱𐌹𐌳𐌰 𐌿𐌽𐌳 𐍆𐍉𐍄𐌿𐌽𐍃,`,
    capitalize: true,
    translations: [
["de", `Der Reiche guckte den Wandersmann von Haupt bis zu den Füßen an,`],
["en", `Then the rich man looked at the traveler from head to foot,`]
    ],
    notes:
`looked upon him Mark 14:67

from ... to ... Mark 13:27`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌾𐌰𐌷 `,
    translations: [
["de", `und weil der liebe Gott schlichte Kleider trug und nicht aussah wie einer, der viel Geld in der Tasche hat,`],
["en", `and as the Lord was wearing common clothes, and did not look like one who had much money in his pocket,`]
    ],
    notes:
`looked upon him Mark 14:67

from ... to ... Mark 13:27`
  }}) %>
</p>

<p lang='en' class="annotation">
The&nbsp;poor&nbsp;man and the&nbsp;rich&nbsp;man,
a&nbsp;fairy&nbsp;tale by&nbsp;the&nbsp;Brothers&nbsp;Grimm
in&nbsp;the&nbsp;Gothic&nbsp;language,
<br>a translation by <a href='https://2sh.me'>2sh</a> (2025).
</p>
<%- include('_components/article-body-bottom.ejs') %>
</html>
