<%
// https://www.chrysostomliturgy.org/text-of-the-divine-liturgy-greek-english
-%>
<!doctype html>
<html lang="got">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/styles/text.css" rel="stylesheet">
    <link href="assets/styles/simple-light.css" rel="stylesheet">
    <link href="assets/styles/simple-dark.css" rel="stylesheet">
    <title>𐌻𐌴𐌹𐍄𐌿𐍂𐌲𐌹𐌰</title>
  </head>
<%- include('_components/article-body-top.ejs') %>
<header>
  <h1>
<%- include('_components/i-line',
  { info: {
    text: '𐌻𐌴𐌹𐍄𐌿𐍂𐌲𐌹𐌰',
    translations: [
["el", "λειτουργία"],
["en", "Liturgy"],
    ],
    notes:
`*𐌻𐌴𐌹𐍄𐌿𐍂𐌲𐌹𐌰, looking at 𐌴𐌹 in 𐌷𐌰𐌹𐍂𐌰𐌹𐍃𐌴𐌹𐍃 from αἱρέσεις
and in 𐌳𐌰𐍅𐌴𐌹𐌳 from Δαυείδ.`
  }}) %>
  </h1>
</header>

<div class="speech">

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐌸𐌹𐌿𐌸𐌴𐌹, 𐍆𐍂𐌰𐌿𐌾𐌹𐌽𐍉𐌽𐌳.',
    translations: [
["el", "Ἑὐλόγησον, Δέσποτα."],
["en", "Master, give the blessing."],
    ]
  }}) %>
</p>

<p>
<%- include('_lines/speaker_priest') %>
<%- include('_components/i-line',
  { info: {
    text: '𐌸𐌹𐌿𐌸𐌹𐌳𐍉 𐌸𐌹𐌿𐌳𐌰𐌽𐌲𐌰𐍂𐌳𐌹',
    translations: [
["el", "Εὐλογημένη ἡ Βασιλεία"],
["en", "Blessed is the Kingdom"],
    ],
    notes: "Mark 11:10"
  }}) %>
<br>
<%- include('_lines/of_trinity') %>
<br>
<%- include('_lines/now_and_ever') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/amen') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐌹̈𐌽 𐌲𐌰𐍅𐌰𐌹𐍂𐌸𐌾𐌰,',
    translations: [
["el", "Ἐν εἰρήνῃ,"],
["en", "In peace,"],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌰𐌿𐍂 𐌲𐌰𐍅𐌰𐌹𐍂𐌸𐌹 𐌹̈𐌿𐍀𐌰𐌸𐍂𐍉',
    translations: [
["el", "Ὑπὲρ τῆς ἄνωθεν εἰρήνης"],
["en", "For the peace from above"],
    ],
    notes: `ὑπὲρ seems to translate to 𐍆𐌰𐌿𐍂, not 𐍆𐌰𐌿𐍂𐌰`
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '𐌾𐌰𐌷 𐌽𐌰𐍃𐌴𐌹𐌽𐌰𐌹 𐍃𐌰𐌹𐍅𐌰𐌻𐍉 𐌿𐌽𐍃𐌰𐍂𐌰𐌹𐌶𐍉,',
    translations: [
["el", "καὶ τῆς σωτηρίας τῶν ψυχῶν ἡμῶν,"],
["en", "and for the salvation of our souls,"],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌰𐌿𐍂 𐌲𐌰𐍅𐌰𐌹𐍂𐌸𐌹 𐌰𐌻𐌻𐌰𐌹𐌶𐍉𐍃 𐌼𐌰𐌽𐌰𐍃𐌴𐌳𐌰𐌹𐍃,',
    translations: [
["el", "Ὑπὲρ τῆς εἰρήνης τοῦ σύμπαντος κόσμου"],
["en", "For the peace of the whole world,"],
    ],
    notes: `world Mark 14:9`
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '𐍄𐌿𐌻𐌲𐌹𐌸𐌰 𐍅𐌴𐌹𐌷𐍉𐍃 𐌲𐌿𐌳𐌹𐍃 𐌰𐌹𐌺𐌺𐌻𐌴𐍃𐌾𐍉𐌽𐍉 ',
    translations: [
["el", "εὐσταθείας τῶν ἁγίων τοῦ Θεοῦ Ἐκκλησιῶν"],
["en", "for the stability of the holy churches of God,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '𐌾𐌰𐌷 𐍃𐌰𐌼𐌰𐌵𐌹𐍃𐍃 𐌰𐌻𐌻𐌰𐌹𐌶𐌴,',
    translations: [
["el", "καὶ τῆς τῶν πάντων ἑνώσεως,"],
["en", "and for the unity of all,"],
    ],
    notes:
`choices: 𐍃𐌰𐌼𐌰𐌵𐌹𐍃𐍃 seems closest to union, coming together to speak and come
to an agreement; not 𐌰𐌻𐌻𐌰𐍅𐌴𐍂𐌴𐌹 as union doesn't mean being friendly;
𐌼𐌹𐌸𐌵𐌹𐌸𐌰𐌽 says to be in conformity, but it sounds like one joining another,
instead of multiples coming together.`
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌰𐌿𐍂 𐌷𐌹𐍄𐌰 𐍅𐌴𐌹𐌷 𐍂𐌰𐌶𐌽',
    translations: [
["el", "Ὑπὲρ τοῦ ἁγίου οἴκου τούτου"],
["en", "For this holy house"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '𐌾𐌰𐌷 𐌹̈𐌽 𐌹̈𐍄𐌰 𐌼𐌹𐌸 𐌲𐌰𐌻𐌰𐌿𐌱𐌴𐌹𐌽𐌰𐌹, 𐌰𐌹𐌶𐌰𐌹 𐌾𐌰𐌷 𐌲𐌿𐌳𐌹𐍃 𐍆𐌰𐌿𐍂𐌷𐍄𐌴𐌹𐌽 𐌹̈𐌽𐌽𐌲𐌰𐌲𐌲𐌰𐌽𐌳𐌰𐌽𐍃,',
    translations: [
["el", "καὶ τῶν μετὰ πίστεως, εὐλαβείας καὶ φόβου Θεοῦ εἰσιόντων ἐν αὐτῷ,"],
["en", "and for those who enter it with faith, reverence, and the fear of God,"],
    ],
    notes: `*𐌰𐌹𐌶𐌰𐌹 from pgmc aizō.

God-fearing is gudafaúrhts.`
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌰𐌿𐍂 𐌲𐌰𐌲𐌿𐌳𐌰𐌽𐍃 𐌾𐌰𐌷 𐌰𐌿𐍂𐌸𐌰𐌿𐌳𐌰𐌿𐌺𐍃𐌴𐌹𐌽𐌰𐌽𐍃 𐍇𐍂𐌹𐍃𐍄𐌴𐌹𐌽𐌰𐌽𐍃,',
    translations: [
["el", "Ὑπὲρ τῶν εὐσεβῶν καὶ Ὀρθοδόξων Χριστιανῶν,"],
["en", "For pious and Orthodox Christians,"],
    ],
    notes: `εὐσέβεια found in 1 Timothy 6:11;

need checking: 𐍇𐍂𐌹𐍃𐍄-𐌴𐌹𐌽𐍃 and *𐌰𐌿𐍂𐌸𐌰𐌿𐌳𐌰𐌿𐌺𐍃-𐌴𐌹𐌽𐍃;

1 Timothy 1:20: X -> 𐌺𐍃`
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌰𐌿𐍂 ...,',
    translations: [
["el", "Ὑπὲρ τοῦ (ἀρχιερατικοῦ βαθμοῦ) ἡμῶν (τοῦ δεῖνος),"],
["en", "For (episcopal rank) (name),"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '𐌲𐌰𐍂𐌹𐌿𐌳𐌰 𐍀𐍂𐌰𐌹𐌶𐌱𐍅𐍄𐌰𐌹𐍂𐌴𐌹𐌽𐌶,',
    translations: [
["el", "τοῦ τιμίου πρεσβυτερίου"],
["en", "for the honorable presbyterate,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '𐌰𐌽𐌳𐌱𐌰𐌷𐍄𐌹 𐌹̈𐌽 𐍇𐍂𐌹𐍃𐍄𐌰𐌿,',
    translations: [
["el", "τῆς ἐν Χριστῷ διακονίας"],
["en", "for the diaconate in Christ"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "παντὸς τοῦ κλήρου καὶ τοῦ λαοῦ"],
["en", "and for all the clergy and the people"],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "Ὑπὲρ τοῦ εὐσεβοῦς ἡμῶν ἔθνους,"],
["en", "For our country, for the president,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "πάσης ἀρχῆς καὶ ἐξουσίας ἐν αὐτῷ,"],
["en", "and for all in public service,"],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌰𐌿𐍂 𐌷𐌹𐍄𐌰 𐌱𐌰𐌿𐍂𐌲,',
    translations: [
["el", "Ὑπὲρ τῆς πόλεως ταύτης,"],
["en", "For this city,"],
    ],
    notes: 'Matthew 9:35'
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '𐌰𐌻𐌻 𐌱𐌰𐌿𐍂𐌲𐌴 𐌾𐌰𐌷 𐌰𐌻𐌻 𐌻𐌰𐌽𐌳𐌴',
    translations: [
["el", "πάσης πόλεως, χώρας"],
["en", "and for every city and land,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '𐌾𐌰𐌷 𐌹̈𐌽 𐌸𐌰𐌹𐌼 𐌰𐌻𐌻 𐌱𐌰𐌿𐌰𐌽𐌳𐌰𐌽𐌴 𐌲𐌰𐌻𐌰𐌿𐌱𐌴𐌹𐌽𐌰𐌹𐌶𐌴',
    translations: [
["el", "καὶ τῶν πίστει οἰκούντων ἐν αὐταῖς,"],
["en", "and for the faithful who live in them,"],
    ],
    notes: `this probably needs correcting/improving`
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌰𐌿𐍂 𐌲𐍉𐌸 𐍅𐌹𐌸𐍂,',
    translations: [
["el", "Ὑπὲρ εὐκρασίας ἀέρων,"],
["en", "For favorable weather,"],
    ],
    notes: `*𐍅𐌹𐌸𐍂

need to find something better than 𐌲𐍉𐌸.`
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "εὐφορίας τῶν καρπῶν τῆς γῆς,"],
["en", "for an abundance of the fruits of the earth,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "καὶ καιρῶν εἰρηνικῶν,"],
["en", "and for peaceful times,"],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "Ὑπὲρ πλεόντων, ὁδοιπορούντων,"],
["en", "For those who travel by land, sea, and air,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "νοσούντων, καμνόντων, αἰχμαλώτων"],
["en", "for the sick, the suffering, the captives"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "καὶ τῆς σωτηρίας αὐτῶν,"],
["en", "and for their salvation,"],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "Ὑπὲρ τοῦ ῥυσθῆναι ἡμᾶς"],
["en", "For our deliverance"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "ἀπὸ πάσης θλίψεως, ὀργῆς, κινδύνου καὶ ἀνάγκης,"],
["en", "from all affliction, wrath, danger, and necessity,"],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "Ἀντιλαβοῦ, σῶσον, ἐλέησον καὶ διαφύλαξον ἡμᾶς"],
["en", "Help us, save us, have mercy on us, and protect us,"],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/lord_have_mercy') %>
</p>

<p>
<%- include('_lines/speaker_deacon') %>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "Τῆς Παναγίας ἀχράντου, ὑπερευλογημένης, ἐνδόξου Δεσποίνης"],
["en", "Commemorating our most holy, pure, blessed, and glorious Lady,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "ἡμῶν Θεοτόκου καὶ ἀειπαρθένου Μαρίας"],
["en", "the Theotokos and ever-virgin Mary,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "μετὰ πάντων τῶν Ἁγίων μνημονεύσαντες,"],
["en", "with all the saints,"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "ἑαυτοὺς καὶ ἀλλήλους"],
["en", "let us commend ourselves and one another"],
    ]
  }}) %>
<br>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["el", "καὶ πᾶσαν τὴν ζωὴν ἡμῶν Χριστῷ τῷ Θεῷ παραθώμεθα."],
["en", "and our whole life to Christ our God."],
    ]
  }}) %>
<br>
<%- include('_lines/let_us_pray_to_the_lord') %>
</p>

<p>
<%- include('_lines/speaker_choir') %>
<%- include('_lines/to_you_o_lord') %>
</p>

</div>

<p lang='en' class="annotation">
The Liturgy of Saint John Chrysostom
in&nbsp;the&nbsp;Gothic&nbsp;language,
<br>a translation by <a href='https://2sh.me'>2sh</a> (2025).
</p>
<%- include('_components/article-body-bottom.ejs') %>
</html>
