<%
// Eng: https://glory2godforallthings.com/2006/11/10/the-morning-prayer-of-the-last-elders-of-optina/
// Rus: https://azbyka.ru/molitvoslov/molitva-poslednix-optinskix-starcev-na-nachalo-dnya.html
-%>
<!doctype html>
<html lang="got">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/styles/text.css" rel="stylesheet">
    <link href="assets/styles/simple-light.css" rel="stylesheet">
    <link href="assets/styles/simple-dark.css" rel="stylesheet">
    <title>Morning Prayer</title>
  </head>
<%- include('_components/article-body-top.ejs') %>
<header>
  <h1>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "Молитва последних оптинских старцев"],
["en", "The Morning Prayer of the Last Elders of Optina"],
    ],
  }}) %>
  </h1>
</header>
<p>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐍂𐌰𐌿𐌾𐌰,',
    translations: [
["ru", "Господи,"],
["en", "O Lord,"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "дай мне с душевным спокойствием встретить всё,"],
["en", "grant that I may meet all (next line) with spiritual tranquility."],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "что принесёт мне наступающий день."],
["en", "that this coming day brings to me"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "Дай мне всецело предаться"],
["en", "Grant that I may fully surrender myself"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "воле Твоей Святой."],
["en", "to Thy holy Will."],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "На всякий час сего дня"],
["en", "At every hour of this day,"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "во всём наставь и поддержи меня."],
["en", "direct and support me in all things."],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "Какие бы я ни получал известия"],
["en", "Whatsoever news may reach me"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "в течение дня,"],
["en", "in the course of the day,"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "научи меня принять их"],
["en", "teach me to accept it"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "со спокойной душою и твёрдым убеждением,"],
["en", "with a calm soul and the firm conviction"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "что на всё Святая воля Твоя."],
["en", "that all is subject to Thy holy Will."],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "Во всех словах и делах моих"],
["en", "in all my words and actions. (this and next line swapped)"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "руководи моими мыслями и чувствами."],
["en", "Direct my thoughts and feelings"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "Во всех непредвиденных случаях"],
["en", "In all unexpected occurrences,"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "не дай мне забыть,"],
["en", "do not let me forget"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "что всё ниспослано Тобой."],
["en", "that all is sent down from Thee."],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "Научи меня прямо и разумно"],
["en", "Grant that I may deal straightforwardly and wisely"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "действовать с каждым членом семьи моей,"],
["en", "with every member of my family,"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "никого не смущая и не огорчая."],
["en", "neither embarrassing nor saddening anyone."],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐍂𐌰𐌿𐌾𐌰,',
    translations: [
["ru", "Господи,"],
["en", "O Lord,"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "дай мне силу"],
["en", "grant me the strength"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "перенести утомление"],
["en", "to endure the fatigue"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "наступающего дня"],
["en", "of the coming day"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "и все события в течение дня."],
["en", "and all the events that take place during it."],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "Руководи моею волею и научи меня "],
["en", "Direct my will and teach me"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "молиться, верить, надеяться,"],
["en", "to pray, to believe, to hope,"],
    ],
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    text: '[TODO]',
    translations: [
["ru", "терпеть, прощать и любить."],
["en", "to be patient, to forgive, and to love."],
    ],
  }}) %>
</p>
<p>
<%- include('_lines/amen') %>
</p>
<p lang='en' class="annotation">
<span class="nowrap">The Morning Prayer</span>
<span class="nowrap">of the Last Elders of Optina</span>
<span class="nowrap">in the Gothic anguage,</span>
<br>a translation by <a href='https://2sh.me'>2sh</a> (2025).
</p>
<%- include('_components/article-body-bottom.ejs') %>
</html>
