<%

-%>
<!doctype html>
<html lang="got">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/styles/text.css" rel="stylesheet">
    <link href="assets/styles/simple-light.css" rel="stylesheet">
    <link href="assets/styles/simple-dark.css" rel="stylesheet">
    <title>𐌸𐌰𐍄𐌰 𐍃𐍀𐌹𐌻𐌻 𐍀𐌰𐌹𐍄𐍂𐌰𐌿𐍃 𐌷𐌰𐌶𐌹𐌽𐍃</title>
  </head>
<%- include('_components/article-body-top.ejs') %>
<header>
  <h1>
<%- include('_components/i-line',
  { info: {
    text: '𐌸𐌰𐍄𐌰 𐍃𐍀𐌹𐌻𐌻\n𐍀𐌰𐌹𐍄𐍂𐌰𐌿𐍃 𐌷𐌰𐍃𐌹𐌽𐍃',
    translations: [
["en", "The Tale of Peter Rabbit"],
    ]
  }}) %>
  </h1>
</header>
<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '𐍃𐌹𐌼𐌻𐌴 𐍅𐌴𐍃𐌿𐌽 𐍆𐌹𐌳𐍅𐍉𐍂 𐌷𐌰𐍃𐌰𐌽𐍃 𐌻𐌴𐌹𐍄𐌹𐌻𐌰𐌹,',
    translations: [
["en", "Once upon a time there were four little Rabbits,"],
    ]
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌾𐌰𐌷 𐍅𐌴𐍃𐌿𐌽 𐌷𐌰𐌹𐍄𐌰𐌽𐌰𐌹 —',
    translations: [
["en", "and their names were —"],
    ],
    notes:
`Using 𐌷𐌰𐌹𐍄𐌰𐌽 to teach about a common way to say it in gothic
and the past passive usage.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐍆𐌻𐌰𐌿𐍀𐍃𐌹, 𐌼𐌰𐌿𐍀𐍃𐌹, 𐌺𐌰𐌿𐍄𐍄𐌰𐌿𐌽-𐍄𐌰𐌹𐌴𐌹𐌻 𐌾𐌰𐌷 𐍀𐌰𐌹𐍄𐍂𐌿𐍃.',
    translations: [
["en", "Flopsy, Mopsy, Cotton-tail, and Peter."],
    ],
    notes:
`Cotton tail to translate, and to make sure the endings of the other names
are correct Gothic.

German translations for Cotton-Tail are Wattebausch or Baumwollschwänzchen.
There's the yet to be approved neologisms *𐌱𐌰𐌲𐌼𐌰𐍅𐌿𐌻𐌻𐌰 and *𐍃𐍀𐌰𐌿𐍂𐌳𐍃`
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '𐌱𐌰𐌿𐌰𐌹𐌳𐌴𐌳𐌿𐌽 𐌼𐌹𐌸 𐌰𐌹𐌸𐌴𐌹𐌽 𐌹̈𐌶𐌴 𐌹̈𐌽 𐌼𐌰𐌻𐌼𐌰𐌳𐍂𐌹𐌿𐍃𐍉𐌽',
    translations: [
["en", "They lived with their Mother in a sand-bank,"],
    ],
    notes:
`𐌲𐍂𐍉𐌱𐌰 translates to foxhole on wiktionary but I imagine it wasn't just
for foxes, it's only been attested in the bible in relation to foxes.

*𐌼𐌰𐌻𐌼𐌰𐌳𐍂𐌹𐌿𐍃𐍉𐌽 made out of 𐌼𐌰𐌻𐌼𐌰 (sand) + 𐌳𐍂𐌹𐌿𐍃𐍉𐌽 (slope/bank)`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌿𐌽𐌳𐌰𐍂𐍉 𐍅𐌰𐌿𐍂𐍄𐌰𐌹 𐍆𐌰𐌿𐍂𐌷𐍉𐍃 𐌼𐌹𐌺𐌹𐌻𐌰𐌹𐌶𐍉𐍃 𐍆𐌹𐌻𐌿.',
    translations: [
["en", "underneath the root of a very big fir-tree."],
    ],
    notes: `neologism *𐍆𐌰𐌿𐍂𐌷𐌰 for fir *furhō`
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '"𐌽𐌿, 𐌻𐌹𐌿𐌱𐌰𐌽𐍃 𐌼𐌴𐌹𐌽𐌰𐌹", 𐌵𐌰𐌸 𐍆𐍂𐌰𐌿𐌾𐍉 𐌷𐌰𐍃𐌰 𐌹̈𐌽 𐌰𐌹𐌽𐌰𐌼𐌼𐌰 𐌼𐌰𐌿𐍂𐌲𐌹𐌽𐌰,',
    translations: [
["en", '"NOW, my dears", said old Mrs. Rabbit one morning,'],
    ],
    notes:
`*𐍆𐍂𐌰𐌿𐌾𐍉 from *frawjô, jô endings turning into 𐌾𐍉

"𐌹̈𐌽 𐌰𐌹𐌽𐌰𐌼𐌼𐌰 𐌳𐌰𐌲𐌴," on one day Luke 5:17`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '"𐌿𐍃𐌻𐌰𐌿𐌱𐌾𐌰 𐌹̈𐌶𐍅𐌹𐍃 𐌹̈𐌽 𐌷𐌰𐌹𐌸𐌾𐍉𐍃 𐌰𐌹𐌸𐌸𐌰𐌿 𐌰𐌽𐌳 𐍅𐌹𐌲 𐌲𐌰𐌲𐌲𐌰𐌽,',
    translations: [
["en", '"you may go into the fields or down the lane,'],
    ],
    notes:
`𐌿𐍃𐌻𐌰𐌿𐌱𐌾𐌰𐌽 "Jesus gave them leave" Mark 5:13; 𐍃𐌺𐌿𐌻𐌳(𐌿) 𐌹̈𐍃𐍄 Mark 3:4 "is is necessary"; 𐌱𐌹𐌽𐌰𐌿𐌷𐍄 𐌹̈𐍃𐍄 Corinthians I 10:23`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌹̈𐌸 𐌲𐌰𐌲𐌲𐌰𐌹𐌸 𐌹̈𐌽 𐌰𐌿𐍂𐍄𐌹𐌲𐌰𐍂𐌳 𐍆𐍂𐌰𐌿𐌾𐌹𐌽𐍃 𐌼𐌺𐌲𐍂𐌰𐌹𐌲𐌰𐌿𐍂.',
    translations: [
["en", "but don’t go into Mr. McGregor’s garden."],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '𐌿𐌱𐌹𐌻 𐍅𐌰𐍂𐌸 𐌱𐌹 𐌰𐍄𐍄𐌰𐌽 𐌹̈𐌶𐍅𐌰𐍂 𐌾𐌰𐌹𐌽𐌰𐍂;',
    translations: [
["en", "Your Father had an accident there;"],
    ],
    notes:
`Übeles passierte über ihn dort.
an evil (thing), with thing being neuter?

befell to him 𐍅𐌰𐍂𐌸 𐌱𐌹 𐌸𐌰𐌽𐌰 Mark 5:16.
happen unto him 𐌹̈𐌽𐌰 𐌲𐌰𐌳𐌰𐌱𐌰𐌽. Mark 10:32. this word has a "as it should be" feel to it.
was done in her 𐍅𐌰𐍂𐌸 𐌱𐌹 𐌹̈𐌾𐌰 Mark 5:33.
be it unto me 𐍅𐌰𐌹𐍂𐌸𐌰𐌹 𐌼𐌹𐍃 Luke 1:38.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌹̈𐍃 𐍅𐌰𐍃 𐌹̈𐌽 𐌼𐌰𐍄 𐌸𐌰𐌹𐍂𐌷 𐍆𐍂𐌰𐌿𐌾𐍉𐌽 𐌼𐌺𐌲𐍂𐌰𐌹𐌲𐌰𐌿𐍂 𐌲𐌰𐌻𐌰𐌲𐌹𐌸𐍃."',
    translations: [
["en", 'he was put in a pie by Mrs. McGregor."'],
    ],
    notes:
`for now, "into a meal" instead of "in a pie"

"𐌻𐌰𐌲𐌹𐌳𐌰 𐍆𐌹𐌲𐌲𐍂𐌰𐌽𐍃 𐍃𐌴𐌹𐌽𐌰𐌽𐍃 𐌹̈𐌽 𐌰𐌿𐍃𐍉𐌽𐌰 𐌹̈𐌼𐌼𐌰" Mark 7:33.
𐌲𐌰𐌻𐌰𐌲𐌹𐌸𐍃 instead of 𐌻𐌰𐌲𐌹𐌸𐍃 as it's talking about him being put in the pie,
not the motion of putting him into the pie? Focus of him being in the pie.
The Bible verse describes a series of events. That part talking about
the motion, with the next part having reached the ear.`
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '"𐌾𐌰𐌷 𐌽𐌿 𐌰𐍆𐌻𐌴𐌹𐌸𐌹𐌸, 𐌾𐌰𐌷 𐍄𐌰𐌿𐌾𐌰𐌹𐌸 𐌽𐌹 𐍅𐌰𐌹𐌷𐍄 𐌿𐌽𐍆𐍂𐍉𐌸.',
    translations: [
["en", `"NOW run along, and don't get into mischief.`],
    ],
    notes:
`depart from me 𐌰𐍆𐌻𐌴𐌹𐌸𐌹𐌸 𐍆𐌰𐌹𐍂𐍂𐌰 𐌼𐌹𐍃 Matthew 7:23.

A German translation has "Und nun".

German has and macht kein Unsinn/Unfug.

options: untilamalsks: sorta works in meaning, though only one attestation;
dwals: foolish, too close to dull perhaps, perhaps also somewhat insulting to use;
𐌿𐌽𐍆𐍂𐍉𐌸𐍃: a bit too sterile perhaps but works I think`
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: `𐌹̈𐌺 𐌿𐍃𐌲𐌰𐌲𐌲𐌰."`,
    translations: [
["en", `I am going out."`],
    ],
    notes:
`go out 𐌿𐍃𐌲𐌰𐌲𐌲 Luke 14:23`
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: `𐌸𐌰𐌽 𐌽𐌰𐌼 𐍆𐍂𐌰𐌿𐌾𐍉 𐌷𐌰𐍃𐌰 𐍄𐌰𐌹𐌽𐌾𐍉𐌽 𐌾𐌰𐌷 𐍂𐌹𐌲𐌽𐍃𐌺𐌹𐌻𐌳𐌿 𐌹̈𐌶𐍉𐍃,`,
    translations: [
["en", `Then old Mrs. Rabbit took a basket and her umbrella,`],
    ],
    notes:
`take up his cross 𐌽𐌹𐌼𐌰𐌹 𐌲𐌰𐌻𐌲𐌰𐌽 𐍃𐌴𐌹𐌽𐌰𐌽𐌰 ACC Mark 8:34

*𐍂𐌹𐌲𐌽𐍃𐌺𐌹𐌻𐌳𐌿𐍃 - rain shield (temporary)`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌾𐌰𐌷 𐌹̈𐌳𐌳𐌾𐌰 𐌸𐌰𐌹𐍂𐌷 𐍅𐌰𐌻𐌸𐌿 𐌳𐌿 𐌱𐌰𐌺𐌰𐍂𐌹.`,
    translations: [
["en", `and went through the wood to the baker’s.`],
    ],
    notes:
`go through Mark 9:30.

NEO *walþus m. U
PGm *bakaną to 𐌱𐌰𐌺𐌰𐌽, class 6 verb. Looking at other class 6 verbs like 𐌳𐍂𐌰𐌲𐌰𐌽 from *draganą, and 𐍅𐌰𐌺𐌰𐌽 from *wakaną.
PGm *bakārijaz, Gothic having inherited the -ārijaz suffix as -𐌰𐍂𐌴𐌹𐍃, 𐌱𐌰𐌺𐌰𐍂𐌴𐌹𐍃`
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: `𐌱𐌰𐌿𐌷𐍄𐌰 𐌰𐌹𐌽𐌰𐌽𐌰 𐌷𐌻𐌰𐌹𐍆 𐌾𐌰𐌷 𐍆𐌹𐌼𐍆 𐌱𐌰𐍃𐌹𐌱𐌰𐌺𐌴𐌹𐌽𐌹𐌽𐍃`,
    translations: [
["en", `She bought a loaf of brown bread and five currant buns.`],
    ],
    notes:
`𐌱𐌰𐌹𐍂𐌰 from baírabagms + 𐌱𐌰𐌺𐌴𐌹𐌽𐌹𐌽𐍃 𐌱𐌰𐌺𐌰𐌽+𐌴𐌹𐌽𐍃.

most likely needs improving.`
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '𐍆𐌻𐌰𐌿𐍀𐍃𐌹, 𐌼𐌰𐌿𐍀𐍃𐌹 𐌾𐌰𐌷 𐌺𐌰𐌿𐍄𐍄𐌰𐌿𐌽-𐍄𐌰𐌹𐌴𐌹𐌻, 𐌸𐌰𐌹𐌴𐌹 𐍅𐌴𐍃𐌿𐌽 𐌲𐍉𐌳𐌰𐌹 𐌻𐌴𐌹𐍄𐌹𐌻𐌰𐌹 𐌷𐌰𐍃𐌰𐌽𐍃,',
    translations: [
["en", `FLOPSY, Mopsy, and Cotton-tail, who were good little bunnies,`],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌹̈𐌳𐌳𐌾𐌴𐌳𐌿𐌽 𐌰𐌽𐌳 𐍅𐌹𐌲 𐌳𐌿 𐌻𐌹𐍃𐌰𐌽 𐌱𐍂𐌴𐌼𐌹𐌱𐌰𐍃𐌾𐌰;',
    translations: [
["en", `went down the lane to gather blackberries;`],
    ],
    notes: `*bremibasi (n. Ja) from *brēmibasją`
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '𐌹̈𐌸 𐍀𐌰𐌹𐍄𐍂𐌿𐍃, 𐍃𐌰𐌴𐌹 𐍅𐌰𐍃 𐌿𐍆𐌰𐍂𐌷𐌰𐌿𐍃𐌾𐌰𐌽𐌳𐍃 𐍆𐌹𐌻𐌿,',
    translations: [
["en", `BUT Peter, who was very naughty,`],
    ],
    notes:
`ufarhauseins, disobedience, then there's ufhausjands found attested as
obedient. so ufarhausjands.

altenatively: "who was a very badly behaved rabbit",
or "who was an excessively/very bold behaved rabbit"
𐍃𐌰𐌴𐌹 𐍅𐌰𐍃 𐌷𐌰𐍃𐌰 𐌿𐍃𐌼𐌹𐍄𐌰𐌽𐍃 𐌱𐌰𐌻𐌸𐌰𐌱𐌰. Using boldly 𐌱𐌰𐌻𐌸𐌰𐌱𐌰,
instead of 𐌿𐌱𐌹𐌻𐌰𐌱𐌰 as it may seem too harsh`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐍂𐌰𐌽𐌽 𐍃𐌿𐌽𐍃 𐌳𐌿 𐌰𐌿𐍂𐍄𐌹𐌲𐌰𐍂𐌳 𐍆𐍂𐌰𐌿𐌾𐌹𐌽𐍃 𐌼𐌺𐌲𐍂𐌰𐌹𐌲𐌰𐌿𐍂,',
    translations: [
["en", `ran straight away to Mr. McGregor’s garden,`],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌾𐌰𐌷 𐌸𐌰𐌹𐍂𐌷𐌹̈𐌳𐌳𐌾𐌰 𐌿𐍆 𐌳𐌰𐌿𐍂!',
    translations: [
["en", `and squeezed under the gate!`],
    ]
  }}) %>
</p>
<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '𐍆𐍂𐌿𐌼𐌹𐍃𐍄 𐌼𐌰𐍄𐌹𐌳𐌰 𐍃𐌿𐌼𐌰 [lettuces] 𐌾𐌰𐌷 𐍃𐌿𐌼𐌰 𐍆𐍂𐌰𐌽𐌺𐌹𐍃𐌺𐌰 [beans]; 𐌾𐌰𐌷 𐌸𐌰𐌽 𐌼𐌰𐍄𐌹𐌳𐌰 𐍃𐌿𐌼𐌰 [radishes];',
    translations: [
["en", `FIRST he ate some lettuces and some French beans; and then he ate some radishes;`],
    ]
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: '𐌾𐌰𐌷 𐌸𐌰𐌽, 𐌷𐌰𐌱𐌰𐌽𐌳𐍃 𐌿𐌱𐌹𐌻, 𐌹̈𐌳𐌳𐌾𐌰 𐍃𐌿𐌼𐌰 [parsley] 𐌳𐌿 𐍃𐍉𐌺𐌾𐌰𐌽.',
    translations: [
["en", `AND then, feeling rather sick, he went to look for some parsley.`],
    ],
    notes: `𐌿𐍂𐍂𐌰𐌽𐌽 ... 𐌳𐌿 𐍃𐌰𐌹𐌰𐌽 Luke 8:5`
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '𐌰𐌸𐌸𐌰𐌽 𐌱𐌹 𐌰𐌽𐌳𐌾𐌰 [cucumber]𐌷𐍂𐌰𐌼𐍉𐍃, 𐌳𐌿 𐍈𐌰𐌼𐌼𐌰 𐌲𐌰𐍂𐌰𐌽𐌽? 𐍆𐍂𐌰𐌿𐌾𐌰 𐌼𐌺𐌲𐍂𐌰𐌹𐌲𐌰𐌿𐍂!',
    translations: [
["en", `BUT round the end of a cucumber frame, whom should he meet but Mr. McGregor!`],
    ],
    notes:
`𐌷𐍂𐌰𐌼𐌾𐌰𐌽 "to crucify" from PGm *hramjaną out of the
parts o-stem *hramō (“frame, rack”) and *-janą.
hramō following o-stem *skamō to attested 𐍃𐌺𐌰𐌼𐌰 => 𐌷𐍂𐌰𐌼𐌰.

For meet, there's 𐌲𐌰𐌵𐌹𐌼𐌰𐌽 and 𐌲𐌰𐍂𐌹𐌽𐌽𐌰𐌽, 𐌲𐌰𐌵𐌹𐌼𐌰𐌽 seems to be closer to meet,
𐌲𐌰𐍂𐌹𐌽𐌽𐌰𐌽 seems to be used for a meeting/gathering of multiples but it also being
a perfective of 𐍂𐌹𐌽𐌽𐌰𐌽 feels quite fitting "into whom does he run?". In
English the "into" is required as the run could be imperfective,
but shouldn't be needed with the Gothic 𐌲𐌰𐍂𐌹𐌽𐌽𐌰𐌽, I think.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: '𐍆𐍂𐌰𐌿𐌾𐌰 𐌼𐌺𐌲𐍂𐌰𐌹𐌲𐌰𐌿𐍂 𐍅𐌰𐍃 𐌰𐌽𐌰 𐌷𐌰𐌽𐌳𐌿𐌼 𐌾𐌰𐌷 𐌺𐌽𐌹𐍅𐌰𐌼 𐌹̈𐍃 𐌿𐍃𐍃𐌰𐍄𐌾𐌰𐌽𐌳𐍃 𐌾𐌿𐌲𐌲𐌰 [cabbages],',
    translations: [
["en", `Mr. McGregor was on his hands and knees planting out young cabbages,`],
    ],
    notes:
`𐌰𐌽𐌰 𐌰𐌽𐌳𐌰𐍅𐌻𐌴𐌹𐌶𐌽 "on his face" Corinthians I 14:25.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌹̈𐌸 𐌿𐍃𐌷𐌰𐌹𐌷𐌻𐌰𐌿𐍀 𐌾𐌰𐌷 𐍂𐌰𐌽𐌽 𐌰𐍆𐌰𐍂 𐍀𐌰𐌹𐍄𐍂𐌰𐌿, 𐍃𐍅𐌰𐌲𐌲𐍅𐌹𐌳𐌰 𐍂𐌰𐌺𐌰 𐌾𐌰𐌷 𐌷𐍂𐍉𐍀𐌹𐌳𐌰: "𐌲𐌰𐍃𐍄𐌰𐌽𐌳 𐌸𐌹𐌿𐍆!"`,
    translations: [
["en", `but he jumped up and ran after Peter, waving a rake and calling out, “Stop thief!`],
    ],
    notes:
`Matthew 8:1, Matthew 8:22, Matthew 9:9 use 𐌰𐍆𐌰𐍂 like English,
not 𐌷𐌹𐌽𐌳𐌰𐍂 like German. 𐌰𐍆𐌰𐍂 with dative in this case.

Using *𐍃𐍅𐌰𐌲𐌲𐍅𐌾𐌰𐌽 which probably means to sway, may need changing though.

Using *𐍂𐌰𐌺𐌰 for rake, from PGm female o-stem *rakō. Looking at 𐌱𐍉𐌺𐌰's declensions.
Not from an-stem *rekô as it clashes with 𐍂𐌹𐌺𐌰𐌽's conjugations.`
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: `𐍀𐌰𐌹𐍄𐍂𐌿𐍃 𐍉𐌷𐍄𐌰 𐍃𐌹𐍃 𐌰𐌱𐍂𐌰𐌱𐌰;`,
    translations: [
["en", `PETER was most dreadfully frightened;`],
    ],
    notes:
`𐍉𐌷𐍄𐌴𐌳𐌿𐌽 𐍃𐌹𐍃 John 6:19, ohtedun abraba Matthew 27:54`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐍃𐌽𐌹𐌿𐌼𐌹𐌳𐌰 𐌰𐌽𐌳 𐌰𐌻𐌻𐌰𐌽𐌰 𐌰𐌿𐍂𐍄𐌹𐌲𐌰𐍂𐌳,`,
    translations: [
["en", `he rushed all over the garden,`],
    ],
    notes:
`and all gawi ACC sing Luke 4:14`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌿𐌽𐍄𐌴 𐌽𐌹 𐌲𐌰𐌼𐌿𐌽𐌰𐌽 𐍅𐌹𐌲 𐌰𐍄𐍅𐌰𐌽𐌳𐌾𐌰𐌽𐌳𐍃 𐌳𐌿 𐌳𐌰𐌿𐍂.`,
    translations: [
["en", `for he had forgotten the way back to the gate.`],
    ],
    notes:
`ni gamunuþ Mark 8:18

wiga gaggandans du Iairusaulwmai Mark 10:32`
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: `𐍆𐍂𐌰𐌻𐌰𐌿𐍃 𐌰𐌹𐌽𐌰𐌽𐌰 𐍃𐌺𐍉𐌷𐌴 𐌹̈𐌽 [cabbages],`,
    translations: [
["en", `He lost one of his shoes among the cabbages,`],
    ],
    notes:
`"one of" Matthew 5:19, Matthew 5:29.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌾𐌰𐌷 𐌰𐌽𐌸𐌰𐍂𐌰𐌽𐌰 𐍃𐌺𐍉𐌷 𐌹̈𐌽 [potatoes].`,
    translations: [
["en", `and the other shoe amongst the potatoes.`],
    ],
    notes:
`"one of" Matthew 5:19, Matthew 5:29.`
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: `𐌰𐍆𐌰𐍂 𐌸𐌰𐍄𐌴𐌹 𐍆𐍂𐌰𐌻𐌰𐌿𐍃 𐌸𐌰𐌽𐍃, 𐍂𐌰𐌽𐌽 𐌰𐌽𐌰 𐌻𐌹𐌸𐌿𐍃 𐍆𐌹𐌳𐍅𐍉𐍂𐌹𐌼 𐌾𐌰𐌷 𐌹𐌳𐌳𐌾𐌰 𐍃𐌽𐌹𐌻𐌻𐌹𐌶𐌰,`,
    translations: [
["en", `AFTER losing them, he ran on four legs and went faster,`],
    ],
    notes:
`𐌰𐍆𐌰𐍂 𐌸𐌰𐍄𐌴𐌹 Mark 1:14, 𐌰𐍆𐌰𐍂 𐌸𐌰𐍄𐌴𐌹 𐍂𐍉𐌳𐌹𐌳𐌰 𐌳𐌿 𐌹̈𐌼 Mark 16:19, Skeireins 7:4.

went with limb 𐌻𐌹𐌸𐌿𐍃 as leg not really attested.

*𐍃𐌽𐌹𐌻𐌻𐍃 from a-stem snellaz, looking at a-stem 𐌼𐌰𐌽𐌰𐌲𐍃, comparative 𐌼𐌰𐌽𐌰𐌲𐌹𐌶𐌰 => 𐍃𐌽𐌹𐌻𐌻𐌹𐌶𐌰`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐍃𐍅𐌰𐌴𐌹 𐌹̈𐌺 𐍆𐍂𐌰𐌸𐌾𐌰 𐌲𐌰𐌸𐌻𐌰𐌿𐌷𐌹 𐌰𐌻𐌻𐌰𐌽𐌳𐌾𐍉,`,
    translations: [
["en", `so that I think he might have got away altogether`],
    ],
    notes:
``
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐍅𐌰𐌹𐌽𐌴𐌹 𐌿𐌽𐌰𐌿𐌳𐌰𐌲𐌰𐌱𐌰 𐌽𐌹 𐌲𐌰𐍂𐌿𐌽𐌽𐌹 𐌹̈𐌽 [gooseberry]𐌽𐌰𐍄𐌹,`,
    translations: [
["en", `if he had not unfortunately run into a gooseberry net,`],
    ],
    notes:
`"if only, would that" + SUBJ Corinthians I 4:8, Corinthians II 11:1, Galatians 5:12.

fortunate 𐌰𐌿𐌳𐌰𐌲𐍃, 𐌿𐌽𐌰𐌿𐌳𐌰𐌲𐌰𐌱𐌰 following a-stem 𐌱𐌰𐌹𐍂𐌷𐍄𐌰𐌱𐌰.`
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌾𐌰𐌷 𐍅𐌰𐍂𐌸 𐌸𐌰𐌹𐍂𐌷 𐌼𐌹𐌺𐌹𐌻𐌰 [buttons] 𐌰𐌽𐌰 [jacket] 𐌹̈𐍃 𐌲𐌰𐍆𐌰𐌷𐌰𐌽𐍃.`,
    translations: [
["en", `and got caught by the large buttons on his jacket.`],
    ],
    notes:
``
  }}) %>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: `𐍃𐌰 𐍅𐌰𐍃 [jacket] 𐌱𐌻𐌴𐍅𐍃 𐌼𐌹𐌸 [buttons] 𐌰𐌹𐌶𐌹𐍃, 𐌽𐌹𐌿𐌾𐌹𐍃 𐍆𐌹𐌻𐌿.`,
    translations: [
["en", `It was a blue jacket with brass buttons, quite new.`],
    ],
    notes:
`*𐌱𐌻𐌴𐍅𐍃

Translating "quite" to "very" for now.`
  }}) %>
</p>

<p>
<%- include('_components/i-line',
  { info: {
    capitalize: true,
    text: `𐍀𐌰𐌹𐍄𐍂𐌿𐍃 𐌸𐌰𐌷𐍄𐌰 𐍃𐌹𐍃 𐍃𐍅𐌴 𐍆𐍂𐌰𐌻𐌿𐍃𐌰𐌽𐍃, 𐌾𐌰𐌷 𐍆𐍂𐌰𐌻𐌰𐌹𐌻𐍉𐍄 𐍄𐌰𐌲𐍂 𐌼𐌹𐌺𐌹𐌻;`,
    translations: [
["en", `PETER gave himself up for lost, and shed big tears;`],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌹̈𐌸 𐌲𐍂𐌴𐍄𐍉𐍃 𐌹̈𐍃 𐍅𐌴𐍃𐌿𐌽 𐌲𐌰𐌿𐍂𐌹𐌳𐌰𐌹 𐍃𐌿𐌼𐌰𐌹𐌼 [sparrows] 𐌵𐌰𐌹𐍂𐍂𐌾𐌰𐌹𐌼`,
    translations: [
["en", `but his sobs were overheard by some friendly sparrows,`],
    ],
  }}) %>
<%- include('_components/i-line',
  { info: {
    text: `𐌸𐌰𐌹𐌴𐌹 𐌲𐌰𐌳𐍂𐍉𐌱𐌽𐌰𐌽𐌳𐌰𐌽𐍃 𐌼𐌹𐌺𐌹𐌻𐌰𐌱𐌰 [flew] 𐌳𐌿 𐌹̈𐌼𐌼𐌰, 𐌾𐌰𐌷 𐌹𐌽𐌰 𐌱𐌴𐌳𐌿𐌽 𐌹̈𐌽𐌰 𐌳𐌿 𐌿𐍃𐌳𐌰𐌿𐌳𐌾𐌰𐌽.`,
    translations: [
["en", `who flew to him in great excitement, and implored him to exert himself.`],
    ],
    notes:
``
  }}) %>
</p>

<p lang='en' class="annotation">
<span class="nowrap">The Tale of Peter Rabbit</span>
<span class="nowrap">by Beatrix Potter</span>
<span class="nowrap">in the Gothic language,</span>
<br>a translation by <a href='https://2sh.me'>2sh</a> (2025).
</p>
<%- include('_components/article-body-bottom.ejs') %>
</html>
