body
{
  background-color: #000000;
  color: #ffffff;
  margin: 0;
}

main
{
  max-width: 64em;
  padding: 10px;
}

h1
{
  font-size: 20px;
  margin: 0;
}

.text-container
{
}

.options
{
  margin: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.options button
{
  margin: 0;
  padding: 3px 7px;
  background-color: white;
  border: 0
}

.options .row
{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.options .group
{
  display: flex;
  gap: 5px
}

.text-container textarea
{
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}