body,
#info-box
{
  background-color: #28282b;
  color: #f0f0f0;
}

a
{
  color: #789cff;
}

.annotation
{
  color: #979797;
}

.menu button,
.menu a
{
  background-color: #686868;
  color: #f0f0f0;
}

i-line:hover
{
  background-color: #479e95;
}

.line-selected
{
  background-color: #008477;
}

#info-box
{
  background-color: #323236;
}