body,
#info-box
{
  background-color: #ffffff;
  color: #28282b;
}

a
{
  color: #6b87d4;
}

.annotation
{
  color: #999999;
}

.menu button,
.menu a
{
  background-color: #dddddd;
  color: #28282b;
}

i-line:hover
{
  background-color: #ceffe3;
}

.line-selected
{
  background-color: #aaffcf;
}

#info-box
{
  background-color: #dadada;
}