@font-face {
  font-family: 'Noto Sans Gothic';
  src: url('../fonts/NotoSansGothic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body
{
  margin: 0;
}

body, select, input, textarea
{
  font-family: 'Noto Sans Gothic';
}

.option-simple
{
  font-family: 'Noto Sans Gothic';
}

.annotation
{
  font-size: 14px;
  text-align: right;
}

.menu
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.menu > div
{
  display: flex;
  gap: 5px;
}

.menu button,
.menu a
{
  display: block;
  text-decoration: none;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
}

.line-id
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

button.square,
a.square
{
  width: 30px;
  padding: 0;
}

h1
{
  font-size: 26px;
  line-height: 26px;
  margin: 0;
}

.subtitle
{
  font-size: 20px;
}

h2
{
  font-size: 20px;
  line-height: 20px;
  margin: 14px 0 0 0;
}

#article-inner
{
  margin: 10px;
}

article header
{
  text-align: center;
}

article p
{
  margin: 12px 0;
  text-indent: 1em;
}

article p:first-letter,
.speaker:first-letter,
h1, h2, h3, .subtitle
{
  text-transform: capitalize;
}

.i-line
{
  cursor: pointer;
}

#info-box p
{
  margin: 6px 0;
}

#info-box-inner
{
  margin: 10px;
}

.title
{
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

.notice
{
  font-size: 14px;
}

.speech p
{
  position: relative;
  text-indent: 0;
}

.speaker
{
  position: absolute;
  right: 480px;
  text-align: right;
  white-space: nowrap;
  padding-right: 1em;
}

article
{
  width: 500px;
  margin-left: 200px;
}

#info-box
{
  width: 300px;
  font-family: 'Noto Sans Gothic', sans-serif;
  position: fixed;
  top: 100px;
  left: 700px;
}

@media only screen and (max-width: 900px)
{
  article
  {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1000px)
{
  .has-info-box article
  {
    margin: 0;
  }

  .has-info-box .speaker
  {
    position: static;
  }

  #info-box
  {
    width: auto;
    left: 500px;
    right: 0;
  }
}

@media only screen and (max-width: 800px)
{
  .has-info-box article
  {
    margin: 0 auto;
  }

  .has-info-box main
  {
    padding-bottom: 300px;
  }

  #info-box
  {
    top: auto;
    right: auto;
    left: 50%;
    bottom: 0;
    width: 500px;
    margin-left: -250px;
    height: 300px;
  }

  #info-box-content
  {
    overflow-y: auto;
    height: 245px;
  }

  .speaker
  {
    position: static;
  }
}

@media only screen and (max-width: 500px)
{
  article, #info-box
  {
    width: auto;
  }

  #info-box
  {
    left: 0;
    right: 0;
    margin: 0;
  }
}
