<%
const classes = []
if (typeof mode !== 'undefined') classes.push(mode)
-%>
<body
  x-data="{ selectedLineInfo: null }"
  :class="[
    ...<%=JSON.stringify(classes)%>,
    ...(!$store.general.darkMode ? ['light-mode'] : []),
    ...(selectedLineInfo !== null ? ['has-info-box'] : []),
  ]">
  <main>
    <div id="article-container">
      <article>
        <div id="article-inner">
          <div class="menu">
            <div>
              <a class='square' href="index.html">⌂</a>
            </div>
            <div>
              <button class='square'
                x-text="$store.general.darkMode ? '☀' : '☾'"
                @click="$store.general.darkMode = !$store.general.darkMode"></button>
              <!--
              <select>
                <option value="simple" class="option-simple">𐌰𐌹𐌽𐍆𐌰𐌸𐍃</option>
                <option value="biblical">𐌰𐍆𐌰𐍂𐌱𐍉𐌺𐍉𐍃</option>
              </select>
              -->
            </div>
          </div>
          <div id="article-content"
            @click="e => {if(e.target.tagName !== 'I-LINE') selectedLineInfo = null}">