<%
global.lineId++
info.id = global.lineId
const infoString = JSON.stringify(info)
-%>
<span
  id="L<%=global.lineId%>"
  class="i-line"
  x-init="() => { if($store.general.initLineId == 'L' + info.id) selectedLineInfo = info }"
  x-data='{ info: <%=infoString%> }'
  @click="selectedLineInfo = info; $store.general.removeHash()"
  :class="{ 'line-selected': selectedLineInfo && selectedLineInfo == info }"
  x-text="$store.general.modes[mode](info.text, {capitalize})"
  ><%=info.text%></span>