<template x-if="selectedLineInfo">
  <div id="info-box">
    <div id="info-box-inner">
      <div class="menu">
        <div>
          <a class='line-id'
            :href="$store.general.getPath() + '#L' + selectedLineInfo.id.toString()"
            x-text="'L' + selectedLineInfo.id.toString()"
            title="A Link to this line"></a>
        </div>
        <div>
          <button class='square'
            @click="selectedLineInfo = null; $store.general.removeHash()">X</button>
        </div>
      </div>
      <div id="info-box-content">
        <div id="info-box-text">
          <h2>Gothic</h2>
          <p x-text="selectedLineInfo.text"></p>
        </div>
        <template x-if="selectedLineInfo.translations">
          <div>
            <template x-for="tl in selectedLineInfo.translations">
            <div :lang="tl[0]">
              <h2 x-text="$store.general.languageNames.of(tl[0])"></h2>
              <p x-text="tl[1]"></p>
            </div>
            </template>
          </div>
        </template>
        <template x-if="selectedLineInfo.notes">
          <div>
            <h2>Notes</h2>
            <template x-for="line in selectedLineInfo.notes.split('\n\n')">
              <p x-html="$store.general.bbCodeToHtml(line)"></p>
            </template>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>